html
{
	display: flex;
	position: left 100px;
	position: right 100px;
	width: 1415px;
	background-color: #faf9f5
}
h2
{
	color: #0744de;
}
h2, h3, h4
{
	text-decoration: underline;
}
.header_name
{
	display: inline-block;
	width: 350px;
	vertical-align: top;
}
.header_branch
{
	text-shadow: 1px 1px 2px #2b00d9;
	display: inline-block;
	vertical-align: top;
}
.title_profil
{
	width: 120px;
}
.profil
{
    display: inline-flex;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
}
.arm_left
{
	display: inline-block;
	width: 500px;
	vertical-align: top;
}
.trunk
{
	display: inline-block;
	vertical-align: top;
}