h2
{
	color: blue;
}
h2, h3, h4
{
	text-decoration: underline;
}
.profil
{
    border: 2px black solid;
}
.arm_left
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.trunk
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}